Source: deepin-ui
Priority: extra
Maintainer: Li Longyu <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python, deepin-gettext-tools, python-setuptools
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.linuxdeepin.com/
Vcs-Git: git://github.com/manateelazycat/deepin-ui.git
Vcs-Browser: https://github.com/manateelazycat/deepin-ui.git

Package: deepin-ui
Section: libdevel
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, libgtk2.0-0, libcairo2, python-gtk2, python-imaging, gettext, python-deepin-utils,
 python-xlib, python-webkit, python-scipy
Description: LinuxDeepin UI libs
 UI toolkit for Linux Deepin,Awesome and Beautiful UI libs with LinuxDeepin
