#!/usr/bin/make -f

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_build:
	deepin-generate-mo  --nocopy dtk/tools/locale_config.ini
	dh_auto_build

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/deepin-ui/usr/share/locale
	cp -r dtk/locale/mo/* $(CURDIR)/debian/deepin-ui/usr/share/locale/
	dh_auto_install
